ENV=PROD
API_VERSION=1
RESPONSE_ENCRYPTION_ENABLED=false
RESPONSE_ENCRYPTION_KEY_B64=

JWT_SECRET_KEY=change-me-to-a-long-random-secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

PROD_DB_USERNAME=ventana_user
PROD_DB_PASSWORD=ventana_password
PROD_DB_CONTAINER_NAME=postgres
PROD_DB_PORT=5432
PROD_DB_NAME=ventana_magica
PROD_DB_ACTIVA=true

PROD_DB_USERNAME_SQL=
PROD_DB_PASSWORD_SQL=
PROD_DB_CONTAINER_NAME_SQL=
PROD_DB_PORT_SQL=
PROD_DB_NAME_SQL=
PROD_DB_ACTIVA_SQL=false
PROD_DB_SQL_ODBC_DRIVER=ODBC Driver 17 for SQL Server

PROD_CH_HOST=
PROD_CH_PORT=8443
PROD_CH_USER=
PROD_CH_PASSWORD=
PROD_CH_DATABASE=rsh
PROD_CH_SECURE=true
PROD_CH_ACTIVA=false

KEYCLOAK_DOMAIN=http://IP_PUBLICA/sso
KEYCLOAK_REALM=ventana-magica
KEYCLOAK_VERIFY_AUDIENCE=true
KEYCLOAK_JWKS_CACHE_TTL=300
KEYCLOAK_AUDIENCE=ventana-magica-backend
KEYCLOAK_CLIENT_ID=ventana-magica-frontend
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_ADMIN_CLIENT_SECRET=
KEYCLOAK_ADMIN_REALM=master
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
